{:deps
 {clj-time/clj-time               {:mvn/version "0.14.2"}
  juxt/crux-core                  {:mvn/version "19.07-1.3.0-alpha"} ;"20.07-1.9.2-beta"}
  org.clojure/test.check          {:mvn/version "0.10.0-alpha4"}

  ;loco                           {:mvn/version "0.3.1"}
  flybot/loco                     {:mvn/version "0.4.1"}
  rolling-stones/rolling-stones   {:mvn/version "1.0.2"}
  criterium/criterium             {:mvn/version "0.4.6"}

  org.clojure/math.combinatorics  {:mvn/version "0.1.6"}
  org.clojure/core.match          {:mvn/version "0.3.0"}

  dk.ative/docjure                {:mvn/version "1.12.0"}
  datascript/datascript           {:mvn/version "0.18.10"}

  metasoarous/oz                  {:mvn/version "1.6.0-alpha11"}
  cheshire/cheshire               {:mvn/version "5.10.0"}

  frinj/frinj                     {:mvn/version "0.2.5"}

  aysylu/loom                     {:mvn/version "1.0.2"}
  dorothy/dorothy                 {:mvn/version "0.0.7"}
  cljfx/cljfx                     {:git/url "https://github.com/cljfx/cljfx"
                                   :git/sha "2b3f86ab5c7fda9dcffd1149401f63de4604d797"}
  com.jsyn/jsyn                   {:mvn/version "20170815"}

  io.github.cljfx/dev             {:mvn/version "1.0.36"}

  fundingcircle/jackdaw           {:mvn/version "0.6.4"}    ;"0.8.0"
  willa/willa                     {:mvn/version "0.2.2"}
  com.brunobonacci/safely         {:mvn/version "0.7.0-alpha3"}
  digest/digest                   {:mvn/version "1.4.10"}
  cprop/cprop                     {:mvn/version "0.1.18"}
  com.stuartsierra/component      {:mvn/version "1.1.0"}
  com.stuartsierra/component.repl {:mvn/version "1.0.0"}

  instaparse/instaparse           {:mvn/version "1.4.12"}

  io.github.nextjournal/clerk     {:mvn/version "0.8.451"}

  danlentz/clj-uuid               {:mvn/version "0.1.9"}}

 :aliases
 {:rebl {:extra-deps {
                      org.clojure/clojure    {:mvn/version "1.10.0"}
                      org.clojure/core.async {:mvn/version "0.4.490"}
                      com.cognitect/rebl     {:local/root "/Users/cawasser/Desktop/Clojure/REBL/REBL-0.9.218/REBL-0.9.218.jar"}}
         :main-opts  ["-m" "cognitect.rebl"]}}

 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}
             "clojars"   {:url "https://clojars.org/repo/"}
             "central"   {:url "https://repo1.maven.org/maven2/"}}}

