{:deps
 {clj-time                       {:mvn/version "0.14.2"}
  juxt/crux-core                 {:mvn/version "20.07-1.9.2-beta"}
  org.clojure/test.check         {:mvn/version "0.10.0-alpha4"}
  ;loco                           {:mvn/version "0.3.1"}
  flybot/loco                    {:mvn/version "0.4.1"}
  org.clojure/math.combinatorics {:mvn/version "0.1.6"}
  org.clojure/core.match         {:mvn/version "0.3.0"}

  dk.ative/docjure               {:mvn/version "1.12.0"}
  datascript                     {:mvn/version "0.18.10"}

  metasoarous/oz                 {:mvn/version "1.6.0-alpha11"}
  cheshire                       {:mvn/version "5.10.0"}

  frinj                          {:mvn/version "0.2.5"}

  aysylu/loom                    {:mvn/version "1.0.2"}

  fundingcircle/jackdaw          {:mvn/version "0.6.4"} ;"0.8.0"}
  willa/willa                    {:mvn/version "0.2.2"}}

 :aliases
 {:rebl {:extra-deps {
                      org.clojure/clojure    {:mvn/version "1.10.0"}
                      org.clojure/core.async {:mvn/version "0.4.490"}
                      com.cognitect/rebl     {:local/root "/Users/cawasser/Desktop/Clojure/REBL/REBL-0.9.218/REBL-0.9.218.jar"}}
         :main-opts  ["-m" "cognitect.rebl"]}}

 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}
             "clojars"   {:url "https://clojars.org/repo/"}
             "central"   {:url "https://repo1.maven.org/maven2/"}}}

